@import "tailwindcss";

@theme {
  /* colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  /* fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", sans-serif;

  /* shadows */
  --shadow-light: 4px 4px 0px #000;
  --shadow-dark: 0 4px 12px rgba(255, 255, 255, 0.1);
}

body {
  font-family: var(--font-outfit);
}
